html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

nav a {
    margin-left: 12px;
}

nav .logo {
    margin-right: auto;
}

.main {
    margin-top: 2rem;
}

.main h1 {
    text-align: center;
}

.input-tables {
    text-align: center;
}

footer {
    margin-top: auto;
    padding: 20px;
    text-align: center;

    color: #777;
    border-top: 1px solid #eaeaea;
}

/* TOP CONTAINER
------------------------------*/
.top-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    margin: 0 auto;
    width: 60%;
    /* border: 1px solid red; */
}

.card {
    padding: 30px;
    margin: 10px;
    border-radius: 5%;
    box-shadow: 0 0 5px #d3d3d3;
}

.top-container .card {
    flex: 1 1 0px;
}

/* Mobs 
------------------------------*/
.mob-container {
    /* --mob-width: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* width: fit-content;
    min-width: var(--mob-width); */
    /* border: 1px solid red; */
}

/* .mob-container select {
    width: var(--mob-width);
} */
.mob-card {
    margin-top: 1rem;
}
.dropdown {
    width: 75%;
}

/* Character
------------------------------*/
.character-container {
    display: flex;
    flex-direction: column;
    /* width: 150px; */

    /* border: 1px solid green; */
}

.stats-container {
    display: flex;
    flex-direction: column;

    padding: 10px;
}

.stats-container input {
    margin-left: 10px;
}

.stats-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.stats-ap {
    margin-bottom: 10px;
}

.stats-ap label,
.stats-stats label {
    margin-bottom: 5px;
}

/* Skills
------------------------------*/
.skills-container .inputs {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.skills-container button {
    text-align: center;
    width: 50px;
}

.skills-container label {
    display: flex;
    justify-content: flex-end;
}

/* BOTTOM CONTAINER
------------------------------*/
.bottom-container {
    margin-top: 50px;
}

.damage-container {
    display: flex;
    justify-content: center;
}

.summary-container {
    margin-top: 15px;
}